{% include 'drain_header.html'%}
<style type="text/css">
	.col-md-4
	{

	}
</style>
<h1 style="margin-top:80px;"><marquee>Welcome Cleaning Board Staff</marquee></h1>
<div class="row">
		<div class="col-md-4">
			<div class="card bg-primary">
                      <div class="card-body px-3 py-4">
                        <div class="d-flex justify-content-between align-items-start">
                          <div class="color-card">
                            <p class="mb-0 color-card-head" style="color: #FFF;">Total Complaints</p>
                            <h2 class="text-white" ><i class="fa fa-list"></i> <a style="color: #FFF;" href="http://127.0.0.1:8000/admin/app/rise_complaint/" target="_blank">{{tot.reference_id__count}}</a>
                            </h2>
                          </div>
                          <i class="card-icon-indicator mdi mdi-basket bg-inverse-icon-warning"></i>
                        </div>
                       
                      </div>
                    </div>
                   </div>
                   <div class="col-md-4">
                    <div class="card bg-warning">
                      <div class="card-body px-3 py-4">
                        <div class="d-flex justify-content-between align-items-start">
                          <div class="color-card">
                            <p class="mb-0 color-card-head" style="color: #FFF;">Pending Complaints</p>
                            <h2 class="text-white" ><i class="fa fa-list"></i> <a style="color: #FFF;" href="{% url 'pending_complaint' %}?status=Pending" target="_blank">{{tot1.reference_id__count}}</a>
                            </h2>
                          </div>
                          <i class="card-icon-indicator mdi mdi-basket bg-inverse-icon-warning"></i>
                        </div>
                       
                      </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-info">
                      <div class="card-body px-3 py-4">
                        <div class="d-flex justify-content-between align-items-start">
                          <div class="color-card">
                            <p class="mb-0 color-card-head" style="color: #FFF;">Progress Complaints</p>
                            <h2 class="text-white" ><i class="fa fa-list"></i> <a style="color: #FFF;" href="{% url 'pending_complaint' %}?status=Progress" target="_blank">{{tot2.reference_id__count}}</a>
                            </h2>
                          </div>
                          <i class="card-icon-indicator mdi mdi-basket bg-inverse-icon-warning"></i>
                        </div>
                       
                      </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-success">
                      <div class="card-body px-3 py-4">
                        <div class="d-flex justify-content-between align-items-start">
                          <div class="color-card">
                            <p class="mb-0 color-card-head" style="color: #FFF;">Completed Complaints</p>
                            <h2 class="text-white" ><i class="fa fa-list"></i> <a style="color: #FFF;" href="{% url 'pending_complaint' %}?status=Completed" target="_blank">{{tot3.reference_id__count}}</a>
                            </h2>
                          </div>
                          <i class="card-icon-indicator mdi mdi-basket bg-inverse-icon-warning"></i>
                        </div>
                       </div>
                      </div>
                    </div>
		</div>
</div>
{% include 'footer.html'%}