{% include 'park_header.html' %}
<div class="card">

    <div class="card-body">
        <div class="card-title">
            <h3 class=" title-2">Change Password</h3>
        </div>
       
        {% if messages %}
            {% for i in messages %}
                <div class="alert alert-warning">{{i}}</div>
            {% endfor %}
        {% endif %}
        <form action="" method="post" novalidate="novalidate" enctype="multipart/form-data">  {% csrf_token %}
           
            <div class="form-group ">
                <label  class="control-label mb-1">Old Password<span style="color: red;">*</span></label>
                <input   name="oldpass" type="password" class="form-control " required="required" > 
                
            </div>
            <div class="form-group ">
                <label  class="control-label mb-1">New Password<span style="color: red;">*</span></label>
                <input   name="newpass" type="password" class="form-control " required="required" > 
                
            </div>
            <dl>
                <dt>Password must contains below :</dt>
                <dd>- String length should be atleast 8.</dd>
                <dd>- String must have atleast 1 Uppercase Character.</dd>
                <dd>- String must have atleast 1 Number.</dd>
                <dd>- String must have atleast 1 Special Character.</dd>
              </dl>
            <div class="form-group ">
                <label  class="control-label mb-1">Confirm New Password<span style="color: red;">*</span></label>
                <input   name="Confirmnewpass" type="password" class="form-control " required="required" > 
                
            </div>
            
             
            <div>
               <input type="submit"  value="Change Password" class="btn btn-info " style="padding: 10px;font-size: 15px;">
            </div>
        </form>
    </div>
</div>

{% include 'footer.html' %}