{% include 'public_header.html' %}
<div class="card">

    <div class="card-body">
        <div class="card-title">
            <h3 class=" title-2">Search Social Services</h3>
        </div>
       
        {% if messages %}
            {% for i in messages %}
                <div class="alert alert-success">{{i}}</div>
            {% endfor %}
        {% endif %}
        <form action="" method="get" novalidate="novalidate">  {% csrf_token %}
            
            <div class="form-group ">
                <input   name="search" type="text" class="form-control " required="required"  placeholder="Search..."> 
                
            </div>
            
            <div>
               <input type="submit"  value="Search Services" class="btn btn-info " style="padding: 10px;font-size: 15px;">
            </div>
        </form>
        {% for i in ids %}
            <div class="col-md-4 side" style="margin-top: 20px;">
                <div>
                <h2>{{i.company_name}}</h2>
                <img src="/media/{{i.image}}" width="200px" height="200px">
                <h4>Phone Number: {{i.phone_number}} </h4>
                <h4>Address</h4>
                <p>{{i.company_address}}</p>
            </div>
                <a href="{% url 'send_query' pk=i.id %}" class="btn btn-primary">Rise Complaint</a>
            </div>
        {% endfor %}
    </div>
</div>
{% include 'footer.html'%}
